.container{
    display : flex;
	justify-content: center;
	align-items : center;
}

.container .box{
    margin-top: 3%;
    width: 600px;
    height: 600px;
    background-color: white;
    border-radius: 10px;
}

.container .box h2{
    margin-top: 10%;
    margin-bottom: 6%;
    text-align: center;
    font-size: 40px;
    font-weight: 900;
}

.form{
    padding: 7%;
}
.input-box{
    position:relative;
    margin:10px 0;
}
.input-box > input{
    background:transparent;
    border:none;
    border-bottom: solid 1px #ccc;
    padding:20px 0px 5px 0px;
    font-size:14pt;
    width:100%;
}
input::placeholder{
    color:transparent;
}
input:placeholder-shown + label{
    color:#aaa;
    font-size:14pt;
    top:15px;

}
input:focus + label, label{
    color:#8aa1a1;
    font-size:10pt;
    pointer-events: none;
    position: absolute;
    left:0px;
    top:0px;    
    transition: all 0.2s ease ;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
}

input:focus, input:not(:placeholder-shown){
    border-bottom: solid 1px #8aa1a1;
    outline:none;
}
input[type=submit]{
    background-color: #aaa;
    border:none;
    color:white;
    border-radius: 5px;
    width:100%;
    height:35px;
    font-size: 14pt;
    margin-top:100px;
}
input[type=submit]:hover{
    background-color: #333;
}
#forgot{
    text-align: right;
    font-size:12pt;
    color:rgb(164, 164, 164);
    margin:10px 0px;
}

#forgot:hover{
    color: black;
}